@import '../common.scss';

@mixin datepicker-arrow($color, $rotate) {
    background: none;
    border-right: 2px solid $selectedColor;
    border-bottom: 2px solid $selectedColor;
}

.react-datepicker__header {
    background: none;
    border: none;
    color: $textColor;
    padding: 0;
    .datepicker_selector-box{
        margin: 0 2rem;
    }
    select {
        border: none;
        outline: none;
        color: $textColor;
        font-weight: bold;
        font-size: 20px;
    }
    button {
        width: 30px;
        height: 30px;
        border-radius: 20px;
        border: none;
        outline: none;
        box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 10%);
        background-color: $box-background;
        color: $selectedColor;
        cursor: pointer;
    }
    button:first-of-type span{
        margin-left: -2px;
    }
    button:last-of-type span{
        margin-left: 2px;
    }
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    line-height: 2rem;
    &:hover{
        border-radius: 2rem;
    }
}


//date-picker.js
.react-datepicker__input-container {
    input {
        width: 100%;
        box-sizing: border-box;
    }
}

.react-datepicker__month-container{
    padding: 12px;
}
.react-datepicker__day-names, .react-datepicker__week{
    display: flex;
    justify-content: space-between;
}
.react-datepicker__day-names{
    font-weight: bold;
}
.react-datepicker__month{
    margin: 0;
}