@charset "UTF-8";
.search_input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search_input, .hotel_price_range .searchMinPrice,
.hotel_price_range .searchMaxPrice {
  outline: none;
  padding: 0 8px;
  line-height: 36px;
  height: 36px;
  border-radius: 2px;
}

input,
select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 谷歌 去除input[type=numer]的增减按钮*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* 火狐 */
input {
  -moz-appearance: textfield;
}

.ui-datepicker-close, .ui-datepicker .ui-datepicker-buttonpane button,
.ui-datepicker .ui-datepicker-buttonpane button.ui-state-hover {
  border: none;
  outline: none;
  background-color: #ff6720;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 2px;
  min-width: 133px;
  padding: 0 8px;
  text-align: center;
  min-width: 70px;
  padding: 4px 8px;
  line-height: 14px;
  font-weight: normal;
  font-size: 14px;
}

.ui-datepicker-close:hover, .ui-datepicker .ui-datepicker-buttonpane button:hover {
  background-color: #ff9e1b;
}

.ui-widget-header {
  background: none;
  border: none;
  color: #111c4e;
}

.ui-datepicker-year,
.ui-datepicker-month {
  border: none;
  outline: none;
  color: #111c4e;
  font-weight: bold;
  font-size: 20px;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  border: none;
  background: none;
}

.ui-datepicker .ui-datepicker-prev span {
  background: none;
  border-right: 2px solid #0075ff;
  border-bottom: 2px solid #0075ff;
}

.ui-datepicker .ui-datepicker-next span {
  background: none;
  border-right: 2px solid #0075ff;
  border-bottom: 2px solid #0075ff;
}

.search_input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search_input, .hotel_price_range .searchMinPrice,
.hotel_price_range .searchMaxPrice {
  outline: none;
  padding: 0 8px;
  line-height: 36px;
  height: 36px;
  border-radius: 2px;
}

input,
select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 谷歌 去除input[type=numer]的增减按钮*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* 火狐 */
input {
  -moz-appearance: textfield;
}

.kucity .result li.active,
.kucity .result li:hover, .kucity .kucity_nav li.active, .kucity .kucity_nav li:hover {
  background-color: #F6F9FD;
}

.kucity {
  -webkit-box-shadow: 0px 1px 8px 0px rgba(17, 28, 78, 0.1);
          box-shadow: 0px 1px 8px 0px rgba(17, 28, 78, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;
  padding: 24px;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  padding: 24px 0;
  min-width: 400px;
  width: auto;
}

.kucity_body {
  /*滚动条*/
  /*定义滚动条轨道 内阴影+圆角*/
  /*定义滑块 内阴影+圆角*/
  padding-right: 5px;
  scrollbar-color: transparent transparent;
  scrollbar-track-color: transparent;
  -ms-scrollbar-track-color: transparent;
  /*三角箭头的颜色*/
  scrollbar-arrow-color: transparent;
  /*滚动条滑块按钮的颜色*/
  scrollbar-face-color: transparent;
  /*滚动条整体颜色*/
  scrollbar-highlight-color: transparent;
  /*滚动条阴影*/
  scrollbar-shadow-color: transparent;
  /*滚动条轨道颜色*/
  scrollbar-track-color: transparent;
  /*滚动条3d亮色阴影边框的外观颜色——左边和上边的阴影色*/
  scrollbar-3dlight-color: transparent;
  /*滚动条3d暗色阴影边框的外观颜色——右边和下边的阴影色*/
  scrollbar-darkshadow-color: transparent;
  /*滚动条基准颜色*/
  scrollbar-base-color: transparent;
  -ms-overflow-style: none;
  max-height: 230px;
  overflow-y: auto;
}

.kucity_body::-webkit-scrollbar {
  width: 2px;
  height: 16px;
  background-color: transparent;
}

.kucity_body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.kucity_body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #bbb;
}

.kucity_body::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.kucity_body:hover {
  padding-right: 3px;
}

.kucity_body:hover::-webkit-scrollbar {
  display: block;
}

.kucity_body::-webkit-scrollbar {
  display: none;
}

.kucity_body .kucity_item {
  display: none;
}

.kucity_body .kucity_item.active {
  display: block;
}

.kucity .result {
  /*滚动条*/
  /*定义滚动条轨道 内阴影+圆角*/
  /*定义滑块 内阴影+圆角*/
  padding-right: 5px;
  scrollbar-color: transparent transparent;
  scrollbar-track-color: transparent;
  -ms-scrollbar-track-color: transparent;
  /*三角箭头的颜色*/
  scrollbar-arrow-color: transparent;
  /*滚动条滑块按钮的颜色*/
  scrollbar-face-color: transparent;
  /*滚动条整体颜色*/
  scrollbar-highlight-color: transparent;
  /*滚动条阴影*/
  scrollbar-shadow-color: transparent;
  /*滚动条轨道颜色*/
  scrollbar-track-color: transparent;
  /*滚动条3d亮色阴影边框的外观颜色——左边和上边的阴影色*/
  scrollbar-3dlight-color: transparent;
  /*滚动条3d暗色阴影边框的外观颜色——右边和下边的阴影色*/
  scrollbar-darkshadow-color: transparent;
  /*滚动条基准颜色*/
  scrollbar-base-color: transparent;
  -ms-overflow-style: none;
  color: #5d667c;
  cursor: pointer;
  max-height: 230px;
  overflow-y: auto;
}

.kucity .result::-webkit-scrollbar {
  width: 2px;
  height: 16px;
  background-color: transparent;
}

.kucity .result::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.kucity .result::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #bbb;
}

.kucity .result::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.kucity .result:hover {
  padding-right: 3px;
}

.kucity .result:hover::-webkit-scrollbar {
  display: block;
}

.kucity .result::-webkit-scrollbar {
  display: none;
}

.kucity .kucity_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #d8d8d8;
}

.kucity .kucity_nav li {
  cursor: pointer;
  font-size: 14px;
  color: #111c4e;
  font-weight: bold;
  padding-bottom: 10px;
  line-height: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.kucity dl {
  margin-bottom: 10px;
}

.kucity_item dt {
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  color: #111c4e;
  margin-bottom: 6px;
}

.kucity .kuCity_destination {
  margin-right: 20px;
}

.kucity_item dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.kucity_item dd span {
  font-size: 14px;
  color: #5d667c;
  line-height: 25px;
  cursor: pointer;
}

.kucity_item dd span:hover {
  color: #0075ff;
}

.kucity_item dd > * {
  margin-bottom: 5px;
}

.kucity_item dd b {
  font-weight: normal;
}

.kucity_item dd .kuCity_recentItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kucity_item dd .kuCity_recentItem .kuCity_destination {
  position: relative;
  padding-left: 20px;
  text-transform: uppercase;
}

.kucity_item dd .kuCity_recentItem .kuCity_destination:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  background: url("../../../images/Aus/common/icon_searchtime.png") no-repeat;
  background-position: center left;
}

.kucity_item dd .kuCity_recentItem .kuCity_destination:before {
  height: 25px;
}

.kucity_item dd .kuCity_recentItem .kuCity_dateRange {
  color: #5d667c;
  font-size: 14px;
  text-align: right;
  min-width: 90px;
}

.kucity_item dd .kuCity_recentItem .kuCity_dateRange p {
  display: inline-block;
}

.citybox {
  padding: 0 24px;
}

.airTitle, .locationTitle {
  color: #111c4e;
  font-size: 16px;
  margin-bottom: 13px;
  padding: 0 38px;
  font-weight: bold;
}

.airTitle {
  background: url(/images/Aus/common/icon_home_air.png) no-repeat;
  background-position: 12px;
}

.locationTitle {
  margin-top: 12px;
  background: url(/images/Aus/common/icon_home_car.png) no-repeat;
  background-position: 12px;
}

.kucity .result li, .kucity .locationResult li {
  color: #041E5B;
  font-size: 14px;
  line-height: normal;
  padding: 12px 38px;
}

.carAddress {
  font-weight: 14px;
  color: #5d667c;
}

.search_input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search_input, .hotel_price_range .searchMinPrice,
.hotel_price_range .searchMaxPrice {
  outline: none;
  padding: 0 8px;
  line-height: 36px;
  height: 36px;
  border-radius: 2px;
}

input,
select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 谷歌 去除input[type=numer]的增减按钮*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* 火狐 */
input {
  -moz-appearance: textfield;
}

.allMapBtn {
  position: relative;
  cursor: pointer;
}

.allMapText {
  position: absolute;
  left: 0;
  top: 73px;
  font-size: 16px;
  color: #111c4e;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.search_input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search_input, .hotel_price_range .searchMinPrice,
.hotel_price_range .searchMaxPrice {
  outline: none;
  padding: 0 8px;
  line-height: 36px;
  height: 36px;
  border-radius: 2px;
}

input,
select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 谷歌 去除input[type=numer]的增减按钮*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* 火狐 */
input {
  -moz-appearance: textfield;
}

#main {
  margin-top: 0;
}

/*进度条*/
.progressBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #9b9b9b;
}

.progressLine {
  width: 304px;
  height: 2px;
  margin: 24px 0 0 0 !important;
  background: #c0cad8;
}

.progressLine.active {
  background: #0075ff;
}

.activeProgress {
  color: #0075ff;
}

.search_input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search_input, .hotel_price_range .searchMinPrice,
.hotel_price_range .searchMaxPrice {
  outline: none;
  padding: 0 8px;
  line-height: 36px;
  height: 36px;
  border-radius: 2px;
}

input,
select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 谷歌 去除input[type=numer]的增减按钮*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* 火狐 */
input {
  -moz-appearance: textfield;
}

.search_wrapper {
  color: #111c4e;
  padding: 24px;
  font-size: 14px;
  background: url(../../images/Aus/hotel/pic_hotelbg.png) no-repeat;
  margin-bottom: 12px;
}

.search_inputItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 10px;
}

.search_input-box {
  position: relative;
}

.search_input-box-multiple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 36px;
  background: #fff;
  border-radius: 2px;
}

.search_input-box-multiple input,
.search_input-box-multiple select {
  border: none;
  outline: none;
  height: inherit;
  line-height: 16px;
  background: none;
  color: #111c4e;
}

.search_input-box-multiple input:disabled,
.search_input-box-multiple select:disabled {
  color: #8c99ab;
}

.search_input-box-multiple select {
  padding: 0 12px;
}

.search_input-box-multiple input {
  padding: 0 12px 0 8px;
}

.search_input-box-multiple * {
  border-right: 1px solid #c0cad8 !important;
  height: inherit;
}

.search_input-box-multiple *:last-child {
  border-right: none !important;
}

.search_title {
  color: #fff;
  font-weight: normal;
  margin-bottom: 6px;
  font-size: 12px;
  text-transform: capitalize;
}

.search_input {
  border: none;
  outline: none;
  background-color: #fff;
}

.search_buttonItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search_btn {
  border: none;
  outline: none;
  background-color: #ff6720;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 2px;
  min-width: 133px;
  padding: 0 8px;
  text-align: center;
  min-width: 120px;
  text-align: center;
  line-height: 36px;
  padding: 0 8px;
  margin-top: 6px;
}

.search_btn:hover {
  background-color: #ff9e1b;
}

.search_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_items .search_filter-box {
  position: relative;
  margin-right: 20px;
  height: 26px;
}

.search_items .search_filter-box.active {
  background: rgba(246, 249, 253, 0.2);
  border-radius: 4px;
}

.search_items .search_filter-box_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  cursor: pointer;
  padding: 5px 27px 5px 5px;
  height: 16px;
  width: auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.search_items .search_filter-box span:after {
  content: '';
  position: absolute;
  border-right: 10px solid #fff;
  border-top: 10px solid transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: -20px;
}

.search_items .search_option-box {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_items .search_option-box label {
  padding-left: 4px;
}

.search_items .search_option-box label,
.search_items .search_option-box input {
  cursor: pointer;
}

.search_items .search_filter-box_pop {
  -webkit-box-shadow: 0px 1px 8px 0px rgba(17, 28, 78, 0.1);
          box-shadow: 0px 1px 8px 0px rgba(17, 28, 78, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;
  padding: 24px;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 26px;
  opacity: 1;
  top: 26px;
  -webkit-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out, top 0.3s ease-in-out;
  color: #111c4e;
}

.search_items .search_filter-box_pop.hidden {
  top: 21px;
  opacity: 0;
}

.search_items img {
  width: 14px;
  margin-right: 8px;
  margin-top: 1px;
}

.search_items span {
  position: relative;
}

.search_filter-box_pop_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-bottom: 12px;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_filter-box_pop_item:last-child {
  margin-bottom: 0;
}

.search_filter-box_pop_item:hover {
  color: #0075ff;
}

.search_filter-box_pop_item:hover .star {
  background: url(../../../images/Aus/hotel/icon_hotstarselected.svg) no-repeat;
  background-size: 13px;
}

.search_radio-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 14px;
  margin-bottom: 12px;
}

.search_radio-box .search_radio {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
  cursor: pointer;
}

.search_radio-box .search_radio .radio-input {
  width: 14px;
  height: 14px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 8px;
}

.search_radio-box .search_radio:last-child {
  margin-right: 0;
}

.search_radio-box input[type='radio'] {
  display: none;
}

.search_radio-box input[type='radio']:checked + .radio-input {
  border-color: #3392ff;
  width: 14px;
  height: 14px;
}

.search_radio-box input[type='radio']:checked + .radio-input + .radio-text {
  color: #3392ff;
}

.search_radio-box input[type='radio']:checked + .radio-input:after {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  background-color: #3392ff;
  border-radius: 4px;
  border: none;
  top: 3px;
  left: 3px;
}

.search_filter-box_pop_item .star {
  width: 13px;
  height: 13px;
  display: inline-block;
  background: url(../../../images/Aus/hotel/icon_hotstar.svg) no-repeat;
  background-size: 13px;
  margin-left: 4px;
}

.search_filter-box_pop_item.starChoose {
  color: #0075ff;
}

.search_filter-box_pop_item.starChoose .star {
  background: url(../../../images/Aus/hotel/icon_hotstarselected.svg) no-repeat;
  background-size: 13px;
}

.hotelStarBtn {
  padding-left: 12px;
  min-width: 116px;
  position: relative;
}

.hotelStarBtn.all {
  padding-left: 0px;
}

.hotelStarBtn.starChoose:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 10px;
  right: 0;
  top: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-right: 2px solid #0075ff;
  border-bottom: 2px solid #0075ff;
}

.hotelStarBtn.two:before {
  content: '≤';
  position: absolute;
  left: 0;
}

.hotel_price_range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel_price_range .searchMinPrice,
.hotel_price_range .searchMaxPrice {
  width: 120px;
  border: 1px solid #5d667c;
}

.hotel_price_range .hyphen {
  margin: 0 16px;
}

.search_hotelAddress_options {
  -webkit-box-shadow: 0px 1px 8px 0px rgba(17, 28, 78, 0.1);
          box-shadow: 0px 1px 8px 0px rgba(17, 28, 78, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;
  padding: 24px;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 36px;
  width: 100%;
}

.search_hotelAddress_options li {
  margin-bottom: 18px;
  cursor: pointer;
}

.search_hotelAddress_options li:last-child {
  margin-bottom: 0;
}

.search_hotelAddress_options li:hover {
  color: #0678ff;
}

.search_input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search_input, .hotel_price_range .searchMinPrice,
.hotel_price_range .searchMaxPrice {
  outline: none;
  padding: 0 8px;
  line-height: 36px;
  height: 36px;
  border-radius: 2px;
}

input,
select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 谷歌 去除input[type=numer]的增减按钮*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* 火狐 */
input {
  -moz-appearance: textfield;
}

#header-air {
  position: relative;
  padding-bottom: 15px;
  margin-left: 0;
  margin-right: 40px;
  padding-left: 24px;
}

#header-air:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  background: url("/images/Aus/common/icon_home_air.png") no-repeat;
  background-position: center left;
}

#header-air.active:before {
  background: url("/images/Aus/common/icon_home_air-active.png") no-repeat;
}

#header-air:before {
  top: -3px;
}

#header-air.active {
  color: #0075ff;
  padding-bottom: 12px;
  border-bottom: 3px solid #0075ff;
}

#header-hotel {
  position: relative;
  padding-bottom: 15px;
  margin-left: 0;
  margin-right: 40px;
  padding-left: 24px;
}

#header-hotel:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  background: url("/images/Aus/common/icon_home_hotel.png") no-repeat;
  background-position: center left;
}

#header-hotel.active:before {
  background: url("/images/Aus/common/icon_home_hotel-active.png") no-repeat;
}

#header-hotel:before {
  top: -3px;
}

#header-hotel.active {
  color: #0075ff;
  padding-bottom: 12px;
  border-bottom: 3px solid #0075ff;
}

#header-rail {
  position: relative;
  padding-bottom: 15px;
  margin-left: 0;
  margin-right: 40px;
  padding-left: 24px;
}

#header-rail:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  background: url("/images/Aus/common/icon_home_rail.png") no-repeat;
  background-position: center left;
}

#header-rail.active:before {
  background: url("/images/Aus/common/icon_home_rail-active.png") no-repeat;
}

#header-rail:before {
  top: -3px;
}

#header-rail.active {
  color: #0075ff;
  padding-bottom: 12px;
  border-bottom: 3px solid #0075ff;
}

#header-car {
  position: relative;
  padding-bottom: 15px;
  margin-left: 0;
  margin-right: 40px;
  padding-left: 24px;
}

#header-car:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  background: url("/images/Aus/common/icon_home_car.png") no-repeat;
  background-position: center left;
}

#header-car.active:before {
  background: url("/images/Aus/common/icon_home_car-active.png") no-repeat;
}

#header-car:before {
  top: -3px;
}

#header-car.active {
  color: #0075ff;
  padding-bottom: 12px;
  border-bottom: 3px solid #0075ff;
}

#header-profile {
  position: relative;
  padding-right: 40px;
}

#header-profile:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
  background: url("/images/Aus/common/icon_profile.png") no-repeat;
  background-position: center right;
}

#header-profile:before {
  width: 35px;
  height: 35px;
  top: 16px;
}

#header-menu {
  position: relative;
  padding-right: 40px;
}

#header-menu:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
  background: url("/images/Aus/common/icon_nav_menu.png") no-repeat;
  background-position: center right;
}

#header-menu:before {
  width: 35px;
  height: 35px;
  top: 16px;
}

.header-wrapper {
  width: 100%;
  background-color: #fff;
}

.header-wrapper.border {
  -webkit-box-shadow: 2px 2px 7px 0 #e8e5e2;
          box-shadow: 2px 2px 7px 0 #e8e5e2;
}

.header-wrapper .hide {
  display: none !important;
}

.header-wrapper .header-container {
  width: 1200px;
  margin: 0 auto;
}

.header-wrapper nav {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-wrapper .header-first-line {
  padding-top: 16px;
  margin-bottom: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrapper .header-first-line .header-logo {
  cursor: pointer;
  width: 150px;
}

.header-wrapper .header-second-line {
  height: 70px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrapper .header-second-line a:first-child {
  margin-left: 0;
}

.header-wrapper .header-second-line-left {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 16px;
}

.header-wrapper .header-second-line-right {
  line-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-wrapper .header-second-line a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrapper a,
.header-wrapper span {
  color: #111c4e;
  display: inline-block;
  font-size: 14px;
  margin-left: 40px;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}

.header-wrapper .header-item {
  position: relative;
}

.header-wrapper .header-language {
  padding-right: 28px;
  position: relative;
}

.header-wrapper .header-language:after {
  content: '';
  position: absolute;
  right: 0;
  top: -3px;
  width: 20px;
  height: 20px;
  background: url(/images/Aus/common/icon_pulldown.png) center no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-wrapper .header-language.active:after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.header-wrapper .header-contact {
  position: relative;
}

.header-wrapper .header-contact_body {
  -webkit-box-shadow: 0px 1px 8px 0px rgba(17, 28, 78, 0.1);
          box-shadow: 0px 1px 8px 0px rgba(17, 28, 78, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;
  padding: 24px;
  z-index: 2;
  position: absolute;
  left: -20px;
  top: 30px;
  opacity: 1;
  top: 30px;
  -webkit-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out, top 0.3s ease-in-out;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-wrapper .header-contact_body.hidden {
  top: 25px;
  opacity: 0;
}

.header-wrapper .header-contact_body:after {
  content: '';
  background-color: #fff;
  -webkit-box-shadow: -2px -2px 4px 0px rgba(17, 28, 78, 0.05);
          box-shadow: -2px -2px 4px 0px rgba(17, 28, 78, 0.05);
  width: 10px;
  height: 10px;
  top: -5px;
  left: 50px;
  position: absolute;
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-wrapper .header-languageBox {
  -webkit-box-shadow: 0px 1px 8px 0px rgba(17, 28, 78, 0.1);
          box-shadow: 0px 1px 8px 0px rgba(17, 28, 78, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;
  padding: 24px;
  z-index: 2;
  position: absolute;
  right: -100px;
  top: 30px;
  opacity: 1;
  top: 30px;
  -webkit-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out, top 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #111c4e;
}

.header-wrapper .header-languageBox.hidden {
  top: 25px;
  opacity: 0;
}

.header-wrapper .header-languageBox:after {
  content: '';
  background-color: #fff;
  -webkit-box-shadow: -2px -2px 4px 0px rgba(17, 28, 78, 0.05);
          box-shadow: -2px -2px 4px 0px rgba(17, 28, 78, 0.05);
  width: 10px;
  height: 10px;
  top: -5px;
  left: 200px;
  position: absolute;
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-wrapper .header-languageBox h2 {
  font-size: 20px;
  margin-bottom: 12px;
}

.header-wrapper .header-languageBox ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-wrapper .header-languageBox ul li {
  width: 150px;
  font-size: 14px;
  cursor: pointer;
}

.header-wrapper .header-languageBox ul li:before {
  content: '·';
  width: 20px;
  height: 20px;
  display: inline-block;
}

.header-wrapper .header-otherOptions {
  position: relative;
}

.header-wrapper .header-otherOptions-box {
  -webkit-box-shadow: 0px 1px 8px 0px rgba(17, 28, 78, 0.2);
          box-shadow: 0px 1px 8px 0px rgba(17, 28, 78, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;
  padding: 24px;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 60px;
  opacity: 1;
  top: 60px;
  -webkit-transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out, top 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #111c4e;
  font-size: 14px;
}

.header-wrapper .header-otherOptions-box.hidden {
  top: 55px;
  opacity: 0;
}

.header-wrapper .header-otherOptions-box:after {
  content: '';
  background-color: #fff;
  -webkit-box-shadow: -2px -2px 4px 0px rgba(17, 28, 78, 0.1);
          box-shadow: -2px -2px 4px 0px rgba(17, 28, 78, 0.1);
  width: 10px;
  height: 10px;
  top: -5px;
  left: 135px;
  position: absolute;
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-wrapper .header-otherOptions-box a {
  display: block;
  margin-left: 0;
  min-width: 130px;
  text-align: center;
  line-height: normal;
  margin-bottom: 12px;
}

.header-wrapper .header-otherOptions-box a:hover {
  color: #0075ff;
}

.header-wrapper .header-otherOptions-box a:last-child {
  margin-bottom: 0;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#main {
  margin-top: 0 !important;
}

.temp-bar {
  background-color: #dcdde1;
  margin: 0 auto;
  margin-bottom: 12px;
  position: relative;
}

.temp-box {
  background-color: #f5f6fa;
  margin: 0 auto;
  margin-bottom: 12px;
  position: relative;
}

select {
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select::-ms-expand {
  display: none;
}

.ui-widget-header {
  background: none;
  border: none;
  color: #111c4e;
}

.ui-datepicker-year,
.ui-datepicker-month {
  border: none;
  outline: none;
  color: #111c4e;
  font-weight: bold;
  font-size: 20px;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: auto;
  margin: 0 10px;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  border: none;
  background: none;
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary, .ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border-radius: 20px;
  width: 25px;
  height: 25px;
  line-height: 23px;
  margin: auto;
}

#ui-datepicker-div {
  padding: 10px 10px 0 10px;
}

.ui-datepicker .ui-datepicker-prev span {
  background: none;
  border-right: 2px solid #0075ff;
  border-bottom: 2px solid #0075ff;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 6px;
  height: 6px;
  margin-left: -3px;
  margin-top: -3px;
}

.ui-datepicker .ui-datepicker-next span {
  background: none;
  border-right: 2px solid #0075ff;
  border-bottom: 2px solid #0075ff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 6px;
  height: 6px;
  margin-left: -3px;
  margin-top: -3px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  background: #fff;
  border-radius: 1.8rem;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.ui-datepicker table {
  border-collapse: inherit;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: none;
  background: none;
  color: #111c4e;
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  color: #8c99ab !important;
  background: none;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  color: #111c4e;
  background: none;
  border: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

table .ui-state-hover,
table .ui-state-active {
  background: #0075ff !important;
  color: #fff !important;
  border: none !important;
}

.ui-widget.ui-widget-content {
  -webkit-box-shadow: 0px 1px 8px 0px rgba(17, 28, 78, 0.1);
          box-shadow: 0px 1px 8px 0px rgba(17, 28, 78, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;
  padding: 24px;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: auto;
}

.eTravel_grade {
  color: #111c4e;
  font-size: 14px;
  font-weight: 600;
}

.eTravel_grade .eTravel_Score {
  background-color: #ff9e1b;
  border-radius: 0 8px 0 8px;
  margin-right: 8px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: inline-block;
  text-align: center;
}

.eTravel_grade .eTravel_Score.hide {
  display: none;
}

.eTravel_reminder_box {
  border-left: 2px solid #5b89c8;
  background-color: #ebf4ff;
  color: #111c4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 22px;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 48px;
}

.eTravel_reminder_box_icon {
  width: 20px;
  height: 20px;
  background: url(../../images/Aus/common/icon_note.png) no-repeat;
  display: inline-block;
  margin-right: 8px;
}

.eTravel_reminder_box strong {
  margin: 0 4px;
}

.eTravel_reminder_box-orange {
  border-left: 2px solid #ff6720;
  background-color: #fff9f4;
  color: #ff6720;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 22px;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 48px;
}

.eTravel_reminder_box-orange_icon {
  width: 20px;
  height: 20px;
  background: url(../../images/Aus/common/icon_note.png) no-repeat;
  display: inline-block;
  margin-right: 8px;
}

.eTravel_reminder_box-orange strong {
  margin: 0 4px;
}

.companyPay {
  border-radius: 1px;
  padding: 2px 8px;
  font-size: 12px;
}

.companyPay-companyPay {
  color: #5a88c6;
  border: 1px solid #5a88c6;
}

.companyPay-mostPreferred {
  color: #5aba2c;
  border: 1px solid #5aba2c;
}

.companyPay-corporate {
  color: #9dcf59;
  border: 1px solid #9dcf59;
}

.violationIcon {
  color: #fff;
  background-color: #d22030;
  border-radius: 2px;
  padding: 2px 8px;
  font-size: 12px;
}

.list_points {
  padding: 0px 8px;
  background-color: #ffeedf;
  border-radius: 2px;
  color: #ff6720;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
}

.list_points.hide {
  display: none;
}

.underline {
  text-decoration: underline;
}

.negative {
  z-index: -1 !important;
}

.hide {
  display: none !important;
}
/*# sourceMappingURL=base.css.map */