@import '../../../../assets/css/common.scss';

.search {
    &_wrapper {
        color: $textColor;
        padding: $normal-pd;
        font-size: $normal-font-size;
        background: url(../../../../assets/hotel/pic_hotelbg.png) no-repeat;
        margin-bottom: $normal-margin;
    }
    // 第一行
    &_inputItems {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-bottom: 10px;
    }
    &_destination {
        width: 320px;
        @extend %flex-column;
    }
    &_checkBox{

    }
    &_checkBox_title{
        display: flex;
        justify-content: space-between;
        h6{
            flex: 1;
        }
    }
    &_checkIn,
    &_checkOut {
        width: 160px;
        @extend %flex-column;
    }
    &_hotelAddress {
        width: 280px;
        @extend %flex-column;
        .hotelAddressBody {
            height: 36px;
            position: relative;
            input {
                @include clear-input-border();
                z-index: 1;
                width: 100%;
                border-right: none;
                @extend %search_input;
            }
        }
        &_options {
            @include pop-container(36px);
            width: 100%;
            li {
                margin-bottom: 18px;
                cursor: pointer;
            }
            li:last-child {
                margin-bottom: 0;
            }
            li:hover {
                color: $textHoverColor;
            }
        }
    }
    &_keyWords {
        width: 200px;
        position: relative;
        @extend %flex-column;
        .search_input {
            width: 100%;
        }
    }
    &_title {
        color: $box-background;
        font-weight: normal;
        margin-bottom: 6px;
        text-transform: capitalize;
    }
    &_input {
        @include clear-input-border();
        color: $textColor;
        @extend %search_input;
    }
}

// 第二行
.search_buttonItems {
    display: flex;
    justify-content: space-between;
    .searchHotelBtn {
        @include button-color();
        min-width: 120px;
        text-align: center;
        line-height: 36px;
        padding: 0 8px;
        margin-top: 6px;
    }
}
.search_items {
    display: flex;
    color: $box-background;
    .search_price,
    .search_level {
        position: relative;
        margin-right: 20px;
        height: 26px;
        &.active {
            background: rgba(246, 249, 253, 0.2);
            border-radius: 4px;
            .searchPriceBody,
            .searchStarBody {
                display: block;
            }
        }
        &_title {
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            padding: 0px 27px 5px 5px;
            width: auto;
            &.active{
                background-color: rgba(246, 249, 253, 0.2);
                border-radius: 4px;
            }
        }
        span:after {
            @include triangle($box-background);
            right: -20px;
        }
    }
    .searchBody {
        color: $textColor;
    }
    img {
        width: 14px;
        margin-right: 8px;
    }
    span {
        position: relative;
    }
}
.hotelPriceBtn,
.hotelStarBtn {
    display: flex;
    cursor: pointer;
    margin-bottom: 12px;
    font-weight: 600;
    align-items: center;
    .star {
        width: 13px;
        height: 13px;
        display: inline-block;
        background: url(../../../assets/hotel/icon_hotstar.svg) no-repeat;
        background-size: 13px;
        margin-left: 4px;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &:hover,
    &.starChoose {
        color: $selectedColor;
        .star {
            background: url(../../../assets/hotel/icon_hotstarselected.svg)
                no-repeat;
            background-size: 13px;
        }
    }
}
.hotelStarBtn {
    padding-left: 12px;
    min-width: 116px;
    position: relative;
    &.all {
        padding-left: 0px;
    }
    &.starChoose:after {
        content: '';
        position: absolute;
        width: 5px;
        height: 10px;
        right: 0;
        top: 2px;
        transform: rotate(45deg);
        border-right: 2px solid $selectedColor;
        border-bottom: 2px solid $selectedColor;
    }
}
.hotelStarBtn.two:before {
    content: '≤';
    position: absolute;
    left: 0;
}
.hotel_price_range {
    display: flex;
    flex-direction: row;
    align-items: center;
    .searchMinPrice,
    .searchMaxPrice {
        width: 120px;
        border: 1px solid #5d667c;
        @extend %search_input;
    }
    .hyphen {
        margin: 0 16px;
    }
}
