@charset "UTF-8";
.hotelLi {
  -webkit-transition: -webkit-box-shadow 0.5s ease;
  transition: -webkit-box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease;
}

.hotelLi:hover {
  -webkit-box-shadow: 0px 4px 16px #e6e4e4;
          box-shadow: 0px 4px 16px #e6e4e4;
}

input,
select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 谷歌 去除input[type=numer]的增减按钮*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* 火狐 */
input {
  -moz-appearance: textfield;
}

.hotelLi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px;
  background-color: #fff;
  margin-bottom: 12px;
}

.hotelLi_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  border-right: 1px solid #c0cad8;
}

.hotelLi_aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hotelLi_aside.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hotelLi_aside.center .hotelDetailNoRoom {
  color: #5d667c;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.hotelLiImg {
  margin-right: 16px;
}

.hotelLiImg img {
  width: 180px;
  height: 160px;
}

.hotelLi_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hotelLi_details > div {
  margin-bottom: 8px;
}

.hotelLi_details .hotelLiName {
  cursor: pointer;
  color: #111c4e;
  font-size: 18px;
  font-weight: bold;
  margin-right: 8px;
}

.hotelLi_details .hotelLiName[noRoom='true'] {
  cursor: default;
}

.hotelLi_details .hotelLiName_title {
  margin-right: 6px;
}

.hotelLi_details .hotelLiStar {
  position: relative;
  height: 13px;
  background: url(../../images/Aus/common/icon_grade_star.png);
  background-repeat: repeat-x;
}

.hotelLi_details .hotelLiStarHalf {
  position: absolute;
  height: 13px;
  width: 13px;
  right: -13px;
  background: url(../../images/Aus/common/icon_grade_star-half.png);
}

.hotelLi_details .hotelLi_protocals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.hotelLi_details .hotelLi_protocals .companyPay {
  margin-bottom: 8px;
  margin-right: 8px;
}

.hotelLi_details .hotelLiInfo {
  color: #5d667c;
  font-size: 14px;
}

.hotelLi_details .hotelLiInfo > div {
  margin-bottom: 8px;
  padding-left: 20px;
  padding-right: 10px;
}

.hotelLi_details .hotelLiInfo .hotelLiAddress {
  background: url("../../../images/Aus/common/icon_locate-gray.png") no-repeat;
  background-position: left;
}

.hotelLi_details .hotelLiInfo .hotelLiTelephone {
  background: url("../../../images/Aus/common/icon_phone-gray.png") no-repeat;
  background-position: left;
}

.hotelLiPrice {
  font-size: 14px;
  color: #5d667c;
  text-align: right;
}

.hotelLiPrice p:first-child {
  margin-bottom: 6px;
}

.hotelLiPrice_price {
  color: #111c4e;
  font-size: 24px;
}

.hotelLiPrice_tax {
  color: #8c99ab;
}

.searchHotelDetailBtn {
  border: none;
  outline: none;
  background-color: #ff6720;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 2px;
  min-width: 133px;
  padding: 0 8px;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  padding: 0 12px;
  cursor: pointer;
}

.searchHotelDetailBtn:hover {
  background-color: #ff9e1b;
}
/*# sourceMappingURL=hotelList.css.map */