@import '../../assets/css/common.scss';

.header-wrapper {
    width: 100%;
    background-color: $box-background;
    .header-container {
        width: $container-width;
        margin: 0 auto;
    }
    .header-first-line {
        margin-top: 16px;
        margin-bottom: 5px;
        align-items: center;
        .header-logo {
            width: 162px;
        }
    }
    .header-second-line {
        height: 70px;
        align-items: flex-end;
        a:first-child {
            margin-left: 0;
        }
        &-left {
            padding-bottom: 15px;
            box-sizing: border-box;
            display: flex;
            img {
                margin-right: 6px;
            }
        }
        &-right {
            line-height: 70px;
            display: flex;
            img {
                margin-left: 10px;
            }
        }
        a {
            display: flex;
            align-items: center;

        }
    }
    a {
        color: #041e5b;
        display: inline-block;
        font-size: 14px;
        margin-left: 40px;
        text-decoration: none;
        text-transform: capitalize;
    }
    .header-language {
        padding-right: 28px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 20px;
            height: 20px;
            background: url(/src/assets/icon/icon_pulldown.png) center no-repeat;
        }
    }
}
