@import '../common.scss';

%datePickerConfirmBtn {
    @include button-color();
    min-width: 70px;
    padding: 4px 8px;
    line-height: 14px;
    font-weight: normal;
    font-size: $text-font-size-base;
}

.ui-widget-header {
    background: none;
    border: none;
    color: $textColor;
}

.ui-datepicker-year,
.ui-datepicker-month {
    border: none;
    outline: none;
    color: $textColor;
    font-weight: bold;
    font-size: 20px;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    border: none;
    background: none;
}

@mixin datepicker-arrow($color, $rotate) {
    background: none;
    border-right: 2px solid $selectedColor;
    border-bottom: 2px solid $selectedColor;
}

.ui-datepicker .ui-datepicker-prev span {
    @include datepicker-arrow($selectedColor, 45deg);
}
.ui-datepicker .ui-datepicker-next span {
    @include datepicker-arrow($selectedColor, -45deg);
}

.ui-datepicker-close {
    @extend %datePickerConfirmBtn;
}
.ui-datepicker .ui-datepicker-buttonpane {
    button,
    button.ui-state-hover {
        @extend %datePickerConfirmBtn;

    }
}
