@charset "UTF-8";
.filter_wrapper .filter_price_range .filterMinPrice,
.filter_wrapper .filter_price_range .filterMaxPrice {
  outline: none;
  padding: 0 8px;
  line-height: 36px;
  height: 36px;
  border-radius: 2px;
}

input,
select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 谷歌 去除input[type=numer]的增减按钮*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* 火狐 */
input {
  -moz-appearance: textfield;
}

.filter_wrapper {
  position: relative;
  width: 280px;
  background: #f5f6fa;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
}

.filter_wrapper.fixed {
  /*滚动条*/
  /*定义滚动条轨道 内阴影+圆角*/
  /*定义滑块 内阴影+圆角*/
  padding-right: 5px;
  scrollbar-color: transparent transparent;
  scrollbar-track-color: transparent;
  -ms-scrollbar-track-color: transparent;
  /*三角箭头的颜色*/
  scrollbar-arrow-color: transparent;
  /*滚动条滑块按钮的颜色*/
  scrollbar-face-color: transparent;
  /*滚动条整体颜色*/
  scrollbar-highlight-color: transparent;
  /*滚动条阴影*/
  scrollbar-shadow-color: transparent;
  /*滚动条轨道颜色*/
  scrollbar-track-color: transparent;
  /*滚动条3d亮色阴影边框的外观颜色——左边和上边的阴影色*/
  scrollbar-3dlight-color: transparent;
  /*滚动条3d暗色阴影边框的外观颜色——右边和下边的阴影色*/
  scrollbar-darkshadow-color: transparent;
  /*滚动条基准颜色*/
  scrollbar-base-color: transparent;
  -ms-overflow-style: none;
  position: fixed;
  top: 0;
  overflow-y: scroll;
}

.filter_wrapper.fixed::-webkit-scrollbar {
  width: 2px;
  height: 16px;
  background-color: transparent;
}

.filter_wrapper.fixed::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.filter_wrapper.fixed::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #bbb;
}

.filter_wrapper.fixed::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.filter_wrapper.fixed:hover {
  padding-right: 3px;
}

.filter_wrapper.fixed:hover::-webkit-scrollbar {
  display: block;
}

.filter_wrapper.fixed::-webkit-scrollbar {
  display: none;
}

.filter_wrapper.fixed.little-width {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filter_wrapper > div {
  margin-bottom: 24px;
}

.filter_wrapper .filter_title {
  color: #111c4e;
  font-size: 16px;
}

.filter_wrapper .filter_sub_title {
  color: #111c4e;
  font-size: 14px;
}

.filter_wrapper .filter_reset {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.filter_wrapper .filter_reset button {
  border: none;
  outline: none;
  background: none;
  color: #0075ff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.filter_wrapper .filter_option-box {
  padding-bottom: 8px;
  margin-bottom: 24px;
  border-bottom: 1px solid #c0cad8;
}

.filter_wrapper .filter_option-box .filter_title, .filter_wrapper .filter_option-box .filter_sub_title {
  margin-bottom: 16px;
}

.filter_wrapper .filter_option-box li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  font-size: 14px;
  color: #111c4e;
}

.filter_wrapper .filter_option-box li label {
  padding-left: 10px;
}

.filter_wrapper .filter_option-box li input,
.filter_wrapper .filter_option-box li label {
  cursor: pointer;
}

.filter_wrapper .filter_option-box:last-child {
  border-bottom: none;
}

.filter_wrapper .filter_price_range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.filter_wrapper .filter_price_range .filter_price_inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.filter_wrapper .filter_price_range .filterMinPrice,
.filter_wrapper .filter_price_range .filterMaxPrice {
  width: 90px;
  border: 1px solid #5d667c;
  z-index: 1;
}

.filter_wrapper .filter_price_range .hyphen {
  margin: 0 16px;
  z-index: 1;
}

.filter_wrapper .filter_price_range .filter_price_submit {
  border: none;
  outline: none;
  background: url(../../../images/Aus/common/icon_search.png);
  width: 36px;
  height: 36px;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .filter_wrapper.fixed {
    -webkit-transition: width 0.5s ease;
    transition: width 0.5s ease;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .filter_wrapper.fixed.close {
    width: 0;
    padding: 0;
  }
  .filter_wrapper.fixed .filter_box {
    padding: 4px;
  }
  .filter_switch.show {
    width: 30px;
    height: 60px;
    position: fixed;
    background-color: #f5f6fa;
    top: 50%;
    left: 280px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
    -webkit-box-shadow: 2px -2px 4px 0px rgba(17, 28, 78, 0.1);
            box-shadow: 2px -2px 4px 0px rgba(17, 28, 78, 0.1);
    -webkit-transition: left 0.5s ease;
    transition: left 0.5s ease;
    z-index: 1;
  }
  .filter_switch.show.close {
    left: 0;
  }
  .filter_switch.show.close:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-left: 8px;
  }
  .filter_switch.show:after {
    content: '';
    /* background: none; */
    display: block;
    border-right: 2px solid #0075ff;
    border-bottom: 2px solid #0075ff;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    width: 6px;
    height: 6px;
    margin-left: 11px;
    margin-top: 23px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}
/*# sourceMappingURL=filterSide.css.map */