@import '../common.scss';
@mixin second-left-style {
    padding-bottom: 15px;
    margin-left: 0;
    margin-right: 40px;
    padding-left: 24px;
    &:before {
        top: -3px;
    }
    &.active {
        color: $selectedColor;
        padding-bottom: 12px;
        border-bottom: 3px solid $selectedColor;
    }
}

@mixin second-right-style {
    padding-right: 40px;
    &:before {
        width: 35px;
        height: 35px;
        top: 16px;
    }
}

#header-air {
    @include icon-before-text('/images/Aus/common/icon_home_air.png');
    &.active:before {
        background: url('/images/Aus/common/icon_home_air-active.png') no-repeat;
    }
    @include second-left-style;
}
#header-hotel {
    @include icon-before-text('/images/Aus/common/icon_home_hotel.png');
    &.active:before {
        background: url('/images/Aus/common/icon_home_hotel-active.png')
            no-repeat;
    }
    @include second-left-style;
}
#header-rail {
    @include icon-before-text('/images/Aus/common/icon_home_rail.png');
    &.active:before {
        background: url('/images/Aus/common/icon_home_rail-active.png')
            no-repeat;
    }
    @include second-left-style;
}
#header-car {
    @include icon-before-text('/images/Aus/common/icon_home_car.png');
    &.active:before {
        background: url('/images/Aus/common/icon_home_car-active.png') no-repeat;
    }
    @include second-left-style;
}
#header-profile {
    @include icon-after-text('/images/Aus/common/icon_profile.png');
    @include second-right-style;
}
#header-menu {
    @include icon-after-text('/images/Aus/common/icon_nav_menu.png');
    @include second-right-style;
}

.header-wrapper {
    width: 100%;
    background-color: $box-background;
    &.border{
        // border-bottom: 1px solid $listBorderColor;
        box-shadow: 2px 2px 7px 0 rgb(232,229,226);
    }
    .hide{
        display: none !important;
    }
    .header-container {
        width: $container-width;
        margin: 0 auto;
    }
    nav {
        text-decoration: none;
        display: flex;
    }
    .header-first-line {
        padding-top: 16px;
        margin-bottom: 5px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        .header-logo {
            cursor: pointer;
            width: 150px;
        }
    }
    .header-second-line {
        height: 70px;
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        a:first-child {
            margin-left: 0;
        }
        &-left {
            box-sizing: border-box;
            display: flex;
            line-height: 16px;
        }
        &-right {
            line-height: 70px;
            display: flex;
        }
        a {
            display: flex;
            align-items: center;
        }
    }
    a,
    span {
        color: $textColor;
        display: inline-block;
        font-size: $text-font-size-base;
        margin-left: 40px;
        text-decoration: none;
        text-transform: capitalize;
        cursor: pointer;
    }
    .header-item {
        position: relative;
    }
    .header-language {
        padding-right: 28px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: -3px;
            width: 20px;
            height: 20px;
            background: url(/images/Aus/common/icon_pulldown.png) center
                no-repeat;
            transition: all 0.3s ease-in-out;
        }
        &.active:after {
            transform: rotate(-180deg);
        }
    }
    .header-contact{
        position: relative;

    }
    .header-contact_body{
        @include pop-container-top(30px, -20px);
        @include pop-container-animation(0.3s, top, 30px);
        width: 200px;
        display: flex;
        flex-direction: column;
        &:after {
            @include solid-triangle-top($box-background, 100px);
        }
    }
    .header-languageBox {
        @include pop-container-top-right(30px, -100px);
        @include pop-container-animation(0.3s, top, 30px);
        display: flex;
        flex-direction: column;
        color: $textColor;
        &:after {
            @include solid-triangle-top($box-background, 400px);
        }
        h2 {
            font-size: 20px;
            margin-bottom: $normal-margin;
        }
        ul {
            display: flex;
            li {
                width: 150px;
                font-size: $text-font-size-base;
                cursor: pointer;
                &:before {
                    content: '·';
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                }
            }
        }
    }
    .header-otherOptions{
        position: relative;
        &-box{
            @include pop-container-top-right(60px, 0, 0.2);
            @include pop-container-animation(0.3s, top, 60px);
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $textColor;
            font-size: $text-font-size-base;
            &:after {
                @include solid-triangle-top($box-background, 270px, 0.1);
            }
            a{
                display: block;
                margin-left: 0;
                min-width: 130px;
                text-align: center;
                line-height: normal;
                margin-bottom: $normal-margin;
                &:hover{
                    color: $selectedColor;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}
