@import '../common.scss';

$itemColor: $textColorLight;
$titleColor: $textColor;

%activeLiStyle {
    background-color: #F6F9FD;
}

.kucity {
    @include pop-container-top();
    padding: $normal-pd 0;
    min-width: 400px;
    width: auto;
    &_body {
        @include scrollbar();
        max-height: 230px;
        overflow-y: auto;
        .kucity_item {
            display: none;
            &.active {
                display: block;
            }
        }
    }
    .result {
        @include scrollbar();
        color: $itemColor;
        cursor: pointer;
        max-height: 230px;
        overflow-y: auto;
        li.active,
        li:hover {
            @extend %activeLiStyle;
        }
    }
    .kucity_nav {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $lineColorLight;
        li {
            cursor: pointer;
            font-size: $text-font-size-base;
            color: $titleColor;
            font-weight: bold;
            padding-bottom: 10px;
            line-height: 25px;
            box-sizing: border-box;
            &.active,
            &:hover {
                @extend %activeLiStyle;
            // padding-bottom: 9px;
                // border-bottom: 1px solid $selectedColor;
            }
        }
    }
    dl {
        margin-bottom: 10px;
    }
    &_item dt {
        font-size: $text-font-size-base;
        font-weight: bold;
        line-height: 25px;
        color: $titleColor;
        margin-bottom: 6px;
    }
    .kuCity_destination{
        margin-right: 20px;
    }
    &_item dd {
        display: flex;
        flex-direction: column;
        span {
            font-size: $text-font-size-base;
            color: $itemColor;
            line-height: 25px;
            cursor: pointer;
            &:hover {
                color: $selectedColor;
             }
        }
        & > * {
            margin-bottom: 5px;
        }
        b {
            font-weight: normal;
        }
        .kuCity_recentItem {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .kuCity_destination {
                @include icon-before-text(
                    '../../../images/Aus/common/icon_searchtime.png'
                );
                padding-left: 20px;
                text-transform: uppercase;
                &:before {
                    height: 25px;
                }
            }
            .kuCity_dateRange {
                color: $textColorLight;
                font-size: $text-font-size-base;
                text-align: right;
                min-width: 90px;
                p{
                    display: inline-block;
                }
            }
        }
    }
}
.citybox{
    padding: 0 $normal-pd;
}
.airTitle,.locationTitle{
    color: $textColor;
    font-size: 16px;
    margin-bottom: 13px;
    padding: 0 38px;
    font-weight: bold;
}
.airTitle{
    background: url(/images/Aus/common/icon_home_air.png) no-repeat;
    background-position: 12px;
}
.locationTitle {
    margin-top: $normal-margin;
    background: url(/images/Aus/common/icon_home_car.png) no-repeat;
    background-position: 12px;
}
.kucity .result li,.kucity .locationResult li{
    color: #041E5B;
    font-size: $text-font-size-base;
    line-height: normal;
    // padding: 12px $normal-pd;
    padding: 12px 38px;
}
.carAddress{
    font-weight: $text-font-size-base;
    color: $textColorLight;
}